body {
  background-color: grey;
}

main {
  width: 100%;
}
.main-wrapper {
  display: inline-block;
  width: 400px;
  background-color: red;
}

/*my flex container*/
#cube-wrapper {
  display: flex;
  flex-wrap: wrap;
  /*width: 100%;*/
}

/*my flex items*/
.cube {
  flex: 0 0 200px;
  color: #FFF;
  /*width: 100%;*/
  min-height: 200px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

#personal-info {
  flex: 0 0 400px;
  /*width: 100%;*/
  min-width: 400px;
  min-height: 200px;
  background-color: #60224D;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 20px;
}

article a {
  text-decoration: none;
  margin: 0 auto;
  color: #FFF;
}

button[type="download-resume"],
button[type="contact"] {
  border: solid 1px #FFF;
  background: transparent;
  color: #FFF;
  margin: 10px 5px;
}

/*.photo {
  width: 10%;
}*/

#profile {
  background-color: #DB5B22;
}

#experience {
  background-color: #832F10;
}

#education {
  background-color: #2B8528;
}

#blog {
  background-color: #282D82;
}

#social-menu {
  background-color: #60224D;
}

#contact {
  background-color: #DB5B22;
}

#portfolio {
  background-color: #832F10;
}

#credits {
  color: black;
  font-weight: 300;
  font-size: 0.5em;
}

@media (min-width: 500px) {

  .main-wrapper {
    width: 600px;


  }

  #cube-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }

  .cube {
    flex-basis: 200px;
  }

  .photo {
    display: inline-block;
  }

  .photo-wrapper {
    width: 25%
  }

}
